body{
  background-color: #ECECEA;
}
form a {
  margin-left: 5px;
}

.post-section {
  margin-bottom: 40px;
}

.comment {
  margin-top: 5px;
  margin-bottom: 10px;
}

.vote-button {
  margin: 4px;
  font-size: 20px;
}

.sort-button {
  margin: 2px;
}

.marginBtn {
  margin: 2px;
}

.float-xs-right{
  position: absolute;
  right: 0;
}

hr{
  margin-top: 0;
}